$var: pink;

#main-app {
	border: 1px solid black;

	.right-column{
		float: right;
    position: inherit;
    border: 1px solid;
    width: 69%;
    height: 290px;
	}
	.left-column{
		box-sizing: border-box;
    float: left;
    width: 30%;
    position: inherit;
    height: 290px;
	}
}


