

[id*='app-card']{

    border: 1px solid;
    position: relative;
    width: 100%;
}
#app-card-1{

    img{
    	position: relative;
    	width: 100%;

    }
    .name-position{
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;

    }
    .title-position{
    	position: absolute;
    	top: 25px;
    	width: 100%;

    }
        .address1-position{
    	position: absolute;
    	top: 35px;
    	width: 100%;
    }
        .address2-position{
    	position: absolute;
    	top: 45px;
    	width: 100%;
    }
        .email-position{
    	position: absolute;
    	top: 55px;
    	width: 100%;
    }
        .phone-position{
    	position: absolute;
    	top: 65px;
    	width: 100%;
    }
        .web-position{
    	position: absolute;
    	top: 75px;
    	width: 100%;
    }

}
#app-card-2{
    img{
        position: relative;
        width: 100%
    }
    .name-position{
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      color: white;
    }
    .title-position{
        position: absolute;
        top: 25px;
        width: 100%;
        color: white;
    }
        .address1-position{
        position: absolute;
        top: 35px;
        width: 100%;
        color: white;
    }
        .address2-position{
        position: absolute;
        top: 45px;
        width: 100%;
        color: white;
    }
        .email-position{
        position: absolute;
        top: 55px;
        width: 100%;
        color: white;
    }
        .phone-position{
        position: absolute;
        top: 65px;
        width: 100%;
        color: white;
    }
        .web-position{
        position: absolute;
        top: 75px;
        width: 100%;
        color: white;
    }

}
#app-card-3{
    img{
    position: relative;
    width: 100%
    }
    .name-position{
        position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
    }
    .title-position{
        position: absolute;
        top: 25px;
        width: 100%;
    }
        .address1-position{
        position: absolute;
        top: 35px;
        width: 100%;
    }
        .address2-position{
        position: absolute;
        top: 45px;
        width: 100%;
    }
        .email-position{
        position: absolute;
        top: 55px;
        width: 100%;
    }
        .phone-position{
        position: absolute;
        top: 65px;
        width: 100%;
    }
        .web-position{
        position: absolute;
        top: 75px;
        width: 100%;
    }
}