$font-color-2: white;
@import 'app-card-1';
@import 'app-card-2';
@import 'app-card-3';


#current-card-container{
    [id*='app-card']{
        border: 1px solid;
        position: relative;
        width: 100%;
        img{
            position: relative;
            width: 100%;
        }
    }
    @include app-card-1();
    @include app-card-2();
    @include app-card-3();
}
