#app-header{

  .nav-header{
    width: 100%;
    text-align: center;

  }
  #card-options{
    text-align: center;
  }
  .dropdown{
    margin-left: 143%;
  }

  ul.nav.navbar-nav{
    margin-left: 29%;
  }

  .header-button{
    border-radius: 0px;
    flex: 0 1 10%;
    background-color: inherit;
    border-color: cornflowerblue;
  }
}