#app-templates{
	  border: 1px solid green;
    clear: both;
    display: flex;
    justify-content: space-around;

    [id*='card-template']{
    	flex: 0 1 auto;
    	border: 1px solid black;
    }
}